 Reset CSS */
* {
	margin: 0;
	padding: 0;
}


/* Mengatur Content Product */

/* Mengatur Content Keunggulan Kami*/
main {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

section {
	padding: 30px 100px;
	display: flex;
	margin: 20px;
}

main h3 {
	text-align: center;
	margin: 20px auto;
	letter-spacing: 1px;
	font-size: 25px;
}

section h2 {
	color: #DF7861;
	font-size: 35px;
	padding-top: 30px;

}

section img {
	width: 400px;
	margin: 10px;
}

.section-text p {
	padding-top: 20px;
}

/* Mengatur Content Product */
.products {
	background-color: #6C63FF;
	width: 100%;
}

.products h3 {
	color: #ffffff;
	padding-top: 20px;
}

.cards {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	margin: 10px 10px;
}

.product-text {
	margin: 20px;
	padding: 20px;
	border: 1px solid #000000;
	text-align: center;
	border-radius: 20px;
	background-color: #ffffff;
}

.product-text h3 {
	color: #2f3bda;
	font-weight: bold;
	padding-bottom: 20px;
}

.product-text h1 {
	color: #DF7861;
	font-size: 35px;
	font-weight: bolder;
}

.product-text button {
	background-color: rgba(27, 135, 78, 0.7) ;
	padding: 20px;
	border: none;
}

.product-text button a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bolder;
}


.product-text button:hover {
	background-color: rgba(27, 135, 78, 1.0) ;
}

/* Animasi Gambar */
.satu img {
  position: relative;
  animation: transisi-satu 3s;
}

@keyframes transisi-satu {
  from {left: -200px;}
  to {left: 0px;}
}

.dua img {
  position: relative;
  animation: transisi-dua 3s;
}

@keyframes transisi-dua {
  from {right: -200px;}
  to {right: 0px;}
}


/* Responsive */

/* Responsive Ukuran Tablet */
@media screen and (max-width: 1000px){
	.cards {
		flex-wrap: wrap;
		justify-content: center;
	}

	main {
		font-size: 100%;
	}

	
}

/* Responsive Ukuran Smartphone */
@media screen and (max-width: 670px){
	section {
		display: block;
		margin: 10px auto;
		padding: 10px auto;
	}

	section img{
		width: 110%;
	}

	.cards {
		display: block;
	}

	section h2, p {
		text-align: center;
	}

	
}