/* Reset CSS */
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Metrophobic&family=Oxygen&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	background-color: #2cc28f;
	color: #ffffff;
	display: inline-block;
}

.btn a{
	color: #ffffff;
}

.title {
	text-align: center;
}


/* Mengatur Header */
header {
	background-color: #0e78be;
	color: #ffffff;
	height: 90px;
	width: 100%;
}

.header-logo {
	float: left;
	font-size: 36px;
	padding: 20px 40px;
}

nav li {
	float: left;
	padding: 35px 20px;
}

nav li a {
	color: #ffffff;
}

/* Mengatur Banner */

.container .btn {
	background-color: rgba(44, 194, 143, 0.7);
	color: #ffffff;
	display: inline-block;
}

.container .btn a {
	color: #ffffff;
}

.container .btn:hover {
	background-color: rgba(44, 194, 143, 1.0);
}

main .container {
	background-color: #ffffff;
	padding: 100px 100px;
	display: flex;
}

.banner-title h1 {
	font-size: 60px;
	color: #b2b1b1;
}

.banner-title h1 span {
	color: #0e78be;
	letter-spacing: 5px;
}

.banner-description {
	font-size: 30px;
	color: #b2b1b1;
}

main .container .btn {
	padding: 20px;
	border-radius: 10px;
	margin-top: 40px;
}

.banner-image img {
	width: 400px;
	margin-left: 50px;
}

/* Animasi Gambar */
.banner-image img {
  position: relative;
  animation: transisi-dua 3s;
}

@keyframes transisi-dua {
  from {right: -200px;}
  to {right: 0px;}
}

/* Responsive */

/* Responsive Ukuran Tablet */
@media screen and (max-width: 1000px){
	main .container {
		display: block;
	}

	.banner-left {
		text-align: center;
	}

	.btn {
		text-align: center;
	}
}

/* Responsive Ukuran Smartphone */
@media screen and (max-width: 670px){
	main .container {
		display: block;
	}

	.banner-right .banner-image img{
		width: 110%;
		padding : 0 auto;
	}

	.banner-left {
		text-align: center;
	}

	.btn {
		text-align: center;
	}
	
}

/*Mengatur Content Product*/
content .product, .container-feature, .container-product {
	width: 100%;
	background-color: #0e78be;
}

.product-items {
	display: flex;
}

.product-title{
	font-size: 32px;
	color: '#000';
}
.align-center{
	text-align: center;
}
.c-white{
	color: #fff;
}
.d-flex{
	display: flex;
}
.fs1{
	font-size: 12px ;
}
.fs2{
	font-size: 16px ;
}
.fs3{
	font-size: 20px ;
}
.fs4{
	font-size: 24px;
}
.fs5{
	font-size: 26px ;
}
.fs-big{
	font-size: 32px;
}
.p1 {
	padding: 10px ;
}
.p2 {
	padding: 20px ;
}
.pt1 {
	padding-top: 10px ;
}
.pt2 {
	padding-top: 20px ;
}
.pt3 {
	padding-top: 30px ;
}
.pt4 {
	padding-top: 40px;
}
.pb1 {
	padding-bottom: 10px ;
}
.pb2 {
	padding-bottom: 20px ;
}
.justify-content-between{
	justify-content: space-between;
}
.justify-content-center{
	justify-content: center;
}
.font-bold{
	font-weight: bold;
}
.font-w1{
	font-weight: 100;
}
.font-w2{
	font-weight: 200;
}
.container {
	display: flex;
	-webkit-display: box;
	-moz-display: box;
	-ms-display: flexbox;
	-webkit-display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
.cards{
	display: flex;
	padding: 1rem;
	margin-bottom: 2rem;
	width: 100%;
}
.card-item{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	border-radius: 7px;
	box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
	overflow: hidden;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}

.card-info {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 1rem;
	line-height: 1.5em;
}

.card-title {
	font-size: 25px;
	line-height: 1.1em;
	color: #32325d;
	margin-bottom: 0.2em;
}

.card-text {
	font-size: 12px;
	line-height: 1.5em;
	color: rgb(61, 61, 61);
	margin-bottom: 0.2em;
}

.card-img{
	align-content: center;
	justify-content: center;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-size: cover;
}

.card-image{
	height: 200px;
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 6px 6px 0px 0px;
	opacity: 0.91;
}

.pricing-el-small {
	font-size: 0.9em;
	color: hsl(0,0,38);
}

.pricing-el-med {
	font-size: 1.15em;
	color: hsl(0,0,20);
}

ul.pricing {
	list-style: none;
	text-align: center;
}

li.pricing {
	height: 43px;
	line-height: 40px;
	width: 100%;
	border-top: 1px solid hsl(0,0,90);
	border-bottom: 1px solid hsl(0,0,90);
}

.btn-primary{
	all: unset;
	display: block;
	border: 2px solid #0e78be;
	padding: 10px 15px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
}

.btn-primary:hover{
	color:#fff;
	background: #0e78be;
	cursor: pointer;
}

.profile-container {
  /* max-width: 1170px; */
  width: 100%;
  padding: 0;
  margin: 0;
	display: grid;
  /* background-color: aqua; */
}

.profile-heading h2 {
  font-family: "Inconsolata", monospace;
}

.profile-wrapper {
  padding-bottom: 80px;
  /* background-color: red; */
	padding-left: 20px;
	padding-right: 20px;
}

/* card */
.profile-cards {
  /* max-width: 1170px; */
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img .profile {
  border-radius: 5px 5px 0 0;
}

.profile-text-wrapper {
  padding: 2px 16px;
}

.profile-text-wrapper h4,
.profile-text-wrapper p {
  font-family: "Metrophobic", sans-serif;
}

/* Contact */
.contact-container {
  width: 60%;
  padding: 0 ;
  margin: 0 auto;
  /* background-color: aqua; */
}

.contact-form-wrapper {
  padding-bottom: 80px;
  /* background-color: red; */
}

.contact-heading {
  padding: 20px 0;
}

.contact-heading h2 {
  font-family: "Inconsolata", monospace;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Metrophobic", sans-serif;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Metrophobic", sans-serif;
}

/* div {
  border-radius: 5px;
  padding: 20px;
  font-family: "Metrophobic", sans-serif;
} */

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #0e78be;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #0e78be;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0e78be;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}



/* ============================================== media query ============================================ */
@media all and (max-width: 670px) {
	.banner-right img {
		text-align: center;
		margin: 0 auto;
		padding-top: 10px;
	}
	.banner-title {
		text-align: center;
	}
  .profile-cards {
    grid-template-columns: repeat(1, 1fr);
  }

	.contact-container {
		width: 90%;
		/* background-color: aqua; */
	}
}

@media(min-width: 640px) {
	.cards {
		width: 45%;
	}

	.profile-cards {
    grid-template-columns: repeat(2, 1fr);
  }

	.glow-on-hover {
    width: 100%;
  }
}

@media(min-width: 991px) {
	.cards {
		width: 30%;
	}

	.card-lg {
		width: 22%;
	}

	.profile-cards {
    grid-template-columns: repeat(4, 1fr);
  }
	
}
/* 
@media all and (max-width: 1000px) {
  .glow-on-hover {
    width: 100%;
  }
} */